project:
  type: website
  output-dir: docs   # or _site if that’s what you’re using

website:
  title: "Raptor"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
